auctionWebserviceClient/src/META-INF/wsdl/localhost_8081/Auction.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><xs:schema xmlns:tns="http://web/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://web/">

<xs:element name="findItemByDescription" type="tns:findItemByDescription"></xs:element>

<xs:element name="findItemByDescriptionResponse" type="tns:findItemByDescriptionResponse"></xs:element>

<xs:element name="getItem" type="tns:getItem"></xs:element>

<xs:element name="getItemResponse" type="tns:getItemResponse"></xs:element>

<xs:element name="newBid" type="tns:newBid"></xs:element>

<xs:element name="newBidResponse" type="tns:newBidResponse"></xs:element>

<xs:element name="offerItem" type="tns:offerItem"></xs:element>

<xs:element name="offerItemResponse" type="tns:offerItemResponse"></xs:element>

<xs:element name="revokeItem" type="tns:revokeItem"></xs:element>

<xs:element name="revokeItemResponse" type="tns:revokeItemResponse"></xs:element>

<xs:complexType name="findItemByDescription">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findItemByDescriptionResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="item">
<xs:sequence>
<xs:element name="seller" type="tns:user" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getItem">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="offerItem">
<xs:sequence>
<xs:element name="arg0" type="tns:user" minOccurs="0"></xs:element>
<xs:element name="arg1" type="tns:category" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="offerItemResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="revokeItem">
<xs:sequence>
<xs:element name="arg0" type="tns:item" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="revokeItemResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newBid">
<xs:sequence>
<xs:element name="arg0" type="tns:item" minOccurs="0"></xs:element>
<xs:element name="arg1" type="tns:user" minOccurs="0"></xs:element>
<xs:element name="arg2" type="tns:money" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="money">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="newBidResponse">
<xs:sequence>
<xs:element name="return" type="tns:bid" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bid">
<xs:sequence>
<xs:element name="item" type="tns:item" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>