auctionWebserviceClient/src/META-INF/wsdl/localhost_8081/Registration.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><xs:schema xmlns:tns="http://web/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://web/">

<xs:element name="getUser" type="tns:getUser"></xs:element>

<xs:element name="getUserResponse" type="tns:getUserResponse"></xs:element>

<xs:element name="registerUser" type="tns:registerUser"></xs:element>

<xs:element name="registerUserResponse" type="tns:registerUserResponse"></xs:element>

<xs:complexType name="registerUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>